.wtcal-icon-service { background-image: url('service_16.svg') !important; background-size: contain; }
.wtcal-icon-service-xs { background-image: url('service_16.svg') !important; background-size: contain; }
.wtcal-icon-service-s { background-image: url('service_16.svg') !important; background-size: contain; }
.wtcal-icon-service-m { background-image: url('service_32.svg') !important; background-size: contain; }
.wtcal-icon-service-l { background-image: url('service_32.svg') !important; background-size: contain; }
.wtcal-icon-reminder-event { background-image: url('event_16.svg') !important; background-size: contain; }
.wtcal-icon-today { background-image: url('move-today_16.svg') !important; background-size: contain; }
.wtcal-icon-previousday { background-image: url('move-previous_16.svg') !important; background-size: contain; }
.wtcal-icon-nextday { background-image: url('move-next_16.svg') !important; background-size: contain; }
.wtcal-icon-dayview { background-image: url('calendar-sel-1_16.svg') !important; background-size: contain; }
.wtcal-icon-week5view { background-image: url('calendar-sel-5_16.svg') !important; background-size: contain; }
.wtcal-icon-weekview { background-image: url('calendar-sel-7_16.svg') !important; background-size: contain; }
.wtcal-icon-dweekview { background-image: url('calendar-sel-14_16.svg') !important; background-size: contain; }
.wtcal-icon-monthview { background-image: url('calendar-sel-31_16.svg') !important; background-size: contain; }
.wtcal-icon-calendar { background-image: url('calendar_16.svg') !important; background-size: contain; }
.wtcal-icon-calendarMy { background-image: url('calendar-my_16.svg') !important; background-size: contain; }
.wtcal-icon-calendarIncoming { background-image: url('calendar-incoming_16.svg') !important; background-size: contain; }
.wtcal-icon-calendarRemote { background-image: url('calendar-remote_16.svg') !important; background-size: contain; }
.wtcal-icon-addCalendar { background-image: url('calendar-add_16.svg') !important; background-size: contain; }
.wtcal-icon-editCalendar { background-image: url('calendar-edit_16.svg') !important; background-size: contain; }
.wtcal-icon-deleteCalendar { background-image: url('calendar-delete_16.svg') !important; background-size: contain; }
.wtcal-icon-event { background-image: url('event_16.svg') !important; background-size: contain; }
.wtcal-icon-newEvent { background-image: url('event-new_16.svg') !important; background-size: contain; }
.wtcal-icon-addEvent { background-image: url('event-add_16.svg') !important; background-size: contain; }
.wtcal-icon-rejoinSeries { background-image: url('event-rejoinSeries_16.svg') !important; background-size: contain; }
.wtcal-icon-event-single { background-image: url('event_16.svg') !important; background-size: contain; }
.wtcal-icon-event-recurring { background-image: url('event-recurring_16.svg') !important; background-size: contain; }
.wtcal-icon-event-broken { background-image: url('event-broken_16.svg') !important; background-size: contain; }
.wtcal-icon-response-NA { background-image: url('response-needsAction_16.svg') !important; background-size: contain; }
.wtcal-icon-response-AC { background-image: url('response-accepted_16.svg') !important; background-size: contain; }
.wtcal-icon-response-DE { background-image: url('response-declined_16.svg') !important; background-size: contain; }
.wtcal-icon-response-TE { background-image: url('response-tentative_16.svg') !important; background-size: contain; }
.wtcal-icon-import { background-image: url('event-import_16.svg') !important; background-size: contain; }
.wtcal-icon-export { background-image: url('event-export_16.svg') !important; background-size: contain; }



.wtcal-planning-free {}
.wtcal-planning-free-out {
    background-color: #fafafa;
}
.wtcal-planning-busy {
    background-color: #9fc6e7;
}
.wtcal-planning-unknown {
    background-color: #e2e2e2;
}
.wtcal-planning-legend {
	margin: 0;
	padding: 0;
	border: 1px solid;
}
.wtcal-planning-grid .wtcal-planning-free.x-grid-cell-selected {
    background-color: #cff0db;
}
.wtcal-planning-grid .wtcal-planning-free-out.x-grid-cell-selected {
    background-color: #cce6d5;
}
.wtcal-planning-grid .wtcal-planning-unknown.x-grid-cell-selected {
    background-color: #b7d7c1;
}
.wtcal-planning-grid .wtcal-planning-free.x-grid-cell-selected.wtcal-planning-sel-collision {
    background-color: #fbdddd;
}
.wtcal-planning-grid .wtcal-planning-free-out.x-grid-cell-selected.wtcal-planning-sel-collision {
    background-color: #f7d9d9;
}
.wtcal-planning-grid .wtcal-planning-busy.x-grid-cell-selected.wtcal-planning-sel-collision {
    background-color: #c8c3d7;
}
.wtcal-planning-grid .wtcal-planning-unknown.x-grid-cell-selected.wtcal-planning-sel-collision {
    background-color: #e3c4c5;
}
.wtcal-planning-grid .x-group-sub-header .x-column-header-inner {
    padding-right: 5px;
    padding-left: 5px;
}
/*
.wtcal-planning-overlaps {
	background-image: url('striked-shadow_20.png');
	background-repeat: repeat;
}
*/
