.wtcal-ico-s { background-image: url('calendar_16.png') !important; }
.wtcal-ico-m { background-image: url('calendar_24.png') !important; }
.wtcal-ico-l { background-image: url('calendar_32.png') !important; }
