.wtcal-icon-service-xs { background-image: url('service_16.png') !important; }
.wtcal-icon-service-s { background-image: url('service_24.png') !important; }
.wtcal-icon-service-m { background-image: url('service_32.png') !important; }
.wtcal-icon-service-l { background-image: url('service_48.png') !important; }
.wtcal-icon-today-xs { background-image: url('today_16.png') !important; }
.wtcal-icon-previousday-xs { background-image: url('previous-day_16.png') !important; }
.wtcal-icon-nextday-xs { background-image: url('next-day_16.png') !important; }
.wtcal-icon-dayview-xs { background-image: url('day_16.png') !important; }
.wtcal-icon-week5view-xs { background-image: url('week5_16.png') !important; }
.wtcal-icon-weekview-xs { background-image: url('week_16.png') !important; }
.wtcal-icon-weekagview-xs { background-image: url('week_16.png') !important; }
.wtcal-icon-monthview-xs { background-image: url('month_16.png') !important; }
.wtcal-icon-now-xs { background-image: url('now_16.png') !important; }
.wtcal-icon-calendar-my { background-image: url('calendar-my_16.png') !important; }
.wtcal-icon-calendar-shared { background-image: url('calendar-shared_16.png') !important; }
.wtcal-icon-addCalendar-xs { background-image: url('calendar-add_16.png') !important; }
.wtcal-icon-editCalendar-xs { background-image: url('calendar-edit_16.png') !important; }
.wtcal-icon-deleteCalendar-xs { background-image: url('calendar-delete_16.png') !important; }
.wtcal-icon-importEvents-xs { background-image: url('calendar-import_16.png') !important; }
.wtcal-icon-addEvent-xs { background-image: url('event-add_16.png') !important; }
.wtcal-icon-calendar-xs { background-image: url('calendar_16.png') !important; }
.wtcal-icon-event-xs { background-image: url('calendar_16.png') !important; }
.wtcal-icon-single-event-xs { background-image: url('event-single_16.png') !important; }
.wtcal-icon-recurring-event-xs { background-image: url('event-recurring_16.png') !important; }
.wtcal-icon-broken-event-xs { background-image: url('event-broken_16.png') !important; }

/*
.wtcal-icon-cal-color {
	width: 15px;
	height: 15px;
	border: 1px solid;
	margin: 0;
	background-image: none;
}
*/
.wtcal-tree-default {
	font-weight: bold;
}
.wtcal-planning-free {
	background-color: #F3E4B1;
}
.wtcal-planning-legend-free {
	margin: 0;
	padding: 0;
	border: 1px solid;
	background-color: #F3E4B1;
}
.wtcal-planning-busy {
	background-color: #9FC6E7;
}
.wtcal-planning-legend-busy {
	margin: 0;
	padding: 0;
	border: 1px solid;
	background-color: #9FC6E7;
}
.wtcal-planning-unknown {
	background-color: lightgray;
}
.wtcal-planning-legend-unknown {
	margin: 0;
	padding: 0;
	border: 1px solid;
	background-color: lightgray;
}
.wtcal-planning-overlaps {
	background-image: url('striked-shadow_20.png');
	background-repeat: repeat;
}